<% include partials/header.ejs %>

        <% include partials/nav2 %>
        <br>
        <img src="/img/lion.jpg" width="500" />
        <br>
        <h2>Lion</h2>
        
        <table align="center" id="t1">
             <tr>
                 <th>Name:</th>
                 <td> <%= name1 %> </td>
             </tr>
             <tr>
                 <th>Nickname:</th>
                 <td> <%= nick1 %>  </td>
             </tr>
             <tr>
                 <th>Country Origin:</th>
                 <td> <%= origin1 %> </td>
             </tr>
             <tr>
                 <th>Arrival at Zoo:</th>
                 <td> <%= date1 %> </td>
             </tr>
             <tr>
                 <th>Primary Handler:</th>
                 <td> <%= handler1 %> </td>
             </tr>
        </table>
        <br>
        

<% include partials/footer %>


