<% include partials/header.ejs %>
        
        <% include partials/nav2 %>
        <br>
        <img src="/img/tiger.jpg" width="500" />
        <br>
        <h2>Tiger</h2>
        
        <table align="center" id="t1">
             <tr>
                 <th>Name:</th>
                 <td> <%= name2 %> </td>
             </tr>
             <tr>
                 <th>Nickname:</th>
                 <td> <%= nick2 %>  </td>
             </tr>
             <tr>
                 <th>Country Origin:</th>
                 <td> <%= origin2 %> </td>
             </tr>
             <tr>
                 <th>Arrival at Zoo:</th>
                 <td> <%= date2 %> </td>
             </tr>
             <tr>
                 <th>Primary Handler:</th>
                 <td> <%= handler2 %> </td>
             </tr>
        </table>
        <br>

<% include partials/footer %>